<div class="row">
	<div class="col-lg-12">
		<%= form_for :session, :url => login_url, :method => :post do |f| %>

			<%= f.text_field :email, :placeholder => "Email" %>

			<div class="actions">
				<%= f.submit "Log in", :class => "btn btn-default" %>
			</div>

		<% end %>
	</div>
</div>
