<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <span>There once was a partial made by Dan Friedman and footer was its name-o.</span>
  </div>
</nav>
